.navbar.menu-font-weight-bold .nav > li > a,
.mainmenu-belowheader.menu-font-weight-bold .nav > li > a {
    font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
}


/* emo - Rev. slider below menu */
.vc_rs_below_menu {
    margin-top: 2px;
}
.mgt-header-block-text-p {
	font-size: 14px;
	line-height: 1.4;
}

.mgt-header-block02-text-p {
	font-size: 10px;
	color: #a2a2a2 !important;
}

.footer-textwidget2 {
font-size: 11px!important;
}
.select2-container {
    display: block !important;
}

.mgt-icon-box-content-x {
font-size: 12px;
line-height: 1.2;
color: #3f3f3f !important;
}

.cont-name {
color: #a2a2a2 !important;
font-size: 13px;
font-weight: 400;
}

.cont-link {
font-size: 12px;
letter-spacing: 0.5px;
}


