/* VC Custom elements icons */
.vc_element-icon.vc_mgt_promo_block,
.vc_element-icon.vc_mgt_header_block,
.vc_element-icon.vc_mgt_category_list,
.vc_element-icon.vc_mgt_icon_box,
.vc_element-icon.vc_mgt_post_list,
.vc_element-icon.vc_mgt_recent_products_wp,
.vc_element-icon.vc_mgt_featured_products_wp,
.vc_element-icon.vc_mgt_products_by_category_wp,
.vc_element-icon.vc_mgt_products_by_attribute_wp,
.vc_element-icon.vc_mgt_products_wp,
.vc_element-icon.vc_mgt_sale_products_wp,
.vc_element-icon.vc_mgt_top_rated_products_wp,
.vc_element-icon.vc_mgt_best_selling_products_wp,
.vc_element-icon.vc_mgt_button,
.vc_element-icon.vc_mgt_cta_block,
.vc_element-icon.vc_mgt_mmm_menu_wp,
.vc_element-icon.vc_mgt_signup_block,
.vc_element-icon.vc_mgt_messagebox,
.vc_element-icon.vc_mgt_counter,
.vc_element-icon.vc_mgt_clients_reviews,
.vc_element-icon.vc_mgt_portfolio_grid,
.vc_element-icon.vc_mgt_countdown,
.vc_element-icon.vc_mgt_pricing_table,
.vc_element-icon.vc_mgt_process,
.vc_element-icon.vc_mgt_item_price,
.vc_element-icon.vc_mgt_images_slider,
.vc_element-icon.vc_mgt_flipbox {
    background-image: url("../img/admin/vc_mgt_default_icon.png");
    background-position: center center;
}
/* VC Backend elements styles */
.wpb_vc_param_value.mgt-promo-block-content-html img {
    height: auto;
    max-width: 100%;
}
/* Custom VC param types styles */
.wpb_el_type_mgt_separator .wpb_element_label {
    border-bottom: 1px solid #2b4b80;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #2B4B80;
}
/* Promo Block Settings styles */
.mgt-promo-block-content-html * {
	margin: 0!important;
    padding: 0!important;
}
.vc_ui-panel[data-vc-shortcode="mgt_promo_block_wp"] #vc_edit-form-tab-3 .mgt_separator {
    margin-bottom: 15px;
}
.vc_ui-panel[data-vc-shortcode="mgt_promo_block_wp"] #vc_edit-form-tab-3 .wpb_el_type_textfield {
    float: left;
    width: 25%;
    height: 100px;
    padding-top: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.vc_ui-panel[data-vc-shortcode="mgt_promo_block_wp"] #vc_edit-form-tab-3 .wpb_el_type_colorpicker {
    float: left;
    width: 50%;
    padding-top: 0;
    height: 100px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.vc_ui-panel[data-vc-shortcode="mgt_promo_block_wp"] #vc_edit-form-tab-3 .wpb_el_type_colorpicker:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}
.vc_ui-panel[data-vc-shortcode="mgt_promo_block_wp"] #vc_edit-form-tab-3 .wpb_el_type_colorpicker .wp-color-result {
    margin-top: 5px;
}
/* Composer bug fix */
option.fade,
select.fade,
input.fade {
	opacity: 1;
}
.hide_in_vc_editor {
    display: none;
}
/* Mega Menu */
.fontawesome-select,
.fontawesome-select option {
	font-family: "fontawesome", "Open sans";
}
.button.upload-menu-item-bg,
.button.remove-menu-item-bg {
    position: relative;
    top: -2px;
    width: 100px;
}
.button.remove-menu-item-bg {
	color: red;
}
.wpadminbar-coming-soon-active {
    background: red!important;
}
.mgt-welcome-logo {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 6px;
}
.mgt-welcome-message .about-description {
    font-size: 16px;
    color: #777;
    margin-top: 0;
}
.mgt-welcome-message .mgt-divider {
    margin-bottom: 10px;
}
.mgt-welcome-message .button-step {
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    background: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #2EA2CC;
    line-height: 20px;
    font-weight: bold;
}
.mgt-welcome-message .button-secondary .button-step  {
    background: #777;
    color: #fff;
}
.wrap .mgt-welcome-message h2 {
    float: none;
    margin-bottom: 0;
}
.mgt-welcome-message label,
.mgt-welcome-message input {
    display: none;
}
.mgt-welcome-message .button.button-hero {
    width: 380px;
}
.mgt-welcome-message a {
    text-decoration: none!important;
}
.mgt-welcome-message #mgt-dismiss-notice {
    float: right;
    margin-top: 20px;
}
.mgt-welcome-message-steps-wrapper {
    display: none;
}
.mgt-welcome-message-show-steps .button {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
#mgt-welcome-message-show-steps:after {
    -moz-osx-font-smoothing: grayscale;
    bottom: 3px;
    color: #ffffff;
    content: "";
    display: inline-block;
    font: 400 20px/1 dashicons;
    padding: 0;
    position: relative;
    right: 0;
    text-decoration: none !important;
    vertical-align: bottom;
}
.welcome-panel.import-description {
    padding-top: 0;
    margin-right: 15px;
}
.welcome-panel.import-description li {
    font-size: 13px;
}
.welcome-panel.import-description p {
    color: #000;
}
.welcome-panel.import-description .demo-preview {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    display: table;
}
.welcome-panel.import-description .demo-text {
    float: left;
    display: table;
}
.radium-importer-message .import-log-text {
    background: none repeat scroll 0 0 #fff;
    font-family: courier;
    font-size: 14px;
    padding: 15px 15px 15px;
    color: darkblue;
    border: 1px solid #e5e5e5;
}
.radium-importer-message .import-log-text pre {
    margin: 0;
}
body .notice, 
body div.error, 
body div.updated {
    margin-left: 0;
}
.vc_settings-custom-design-notice {
    display: none!important;
}

.theme-demo-import-items {
    clear: both;
    margin-left: -15px;
    margin-right: -15px;
}
.theme-demo-import-item {
    display: inline-block;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px; 
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid #dedede;
    background: #fff;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    width: 232px;
}
.theme-demo-import-item-title {
    padding-top: 15px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    background: #FAFAFA;
    border-bottom: 1px solid #dedede;
}
.theme-demo-import-item-button {
    padding-left:30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #dedede;
}
.theme-demo-import-item img {
    width: 100%;
    height: auto;
    display: block;
}
.theme-demo-import-item:hover {
    color: #00A0D2;
}
.theme-demo-import-item a.theme-live-preview {
    display: block;
    text-align: center;
    font-weight: normal;
}
.appearance_page_install-required-plugins .plugin .row-actions {
    visibility: visible;
}
.configuration-error {
    color: red;
}
.configuration-info {
    color: blue;
}
.configuration-success {
    color: green;
}
.theme-important-notice {
    background: #fff;
    margin: 0 0 30px;
    padding: 15px 30px;
    font-size: 17px;
}
.theme-important-notice li {
    margin-bottom: 15px;
}
.theme-important-notice p {
    font-size: 17px;
}
.wp-core-ui .button-primary.radium-import-start {
    font-size: 14px;
    height: 46px;
    line-height: 44px;
    padding: 0 36px;
}
.radium-importer-wrap {
    max-width: 1040px;
}
.postbox .inside span {
    color: #aaa;
    font-style: italic;
}
/* WP 4.5 fix */
.menu-item-edit-active .menu-item-settings {
  display: table!important;
}