.nav .mega-menu-close {
    font-size: 40px;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: -26px;
    cursor: pointer;
}
.nav > li.menu-item-multicolumn > .sub-menu > li {
	width: 250px;
}
.nav > li.menu-item-multicolumn > .sub-menu {
	width: 250px;
}
.mgt-mega-menu .nav > li .sub-menu {
	padding-top: 6px;
	padding-bottom: 6px;
}
.mgt-mega-menu .nav .sub-menu li .sub-menu {
	margin-top: -55px;
}
.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-1 {
	width: 250px;
}
.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-2 {
	width: 500px;
}
.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-3 {
	width: 750px;
}
.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-4 {
	width: 1000px;
}
.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-5 {
	width: 1250px;
}
.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-5 > li {
	width: 20%;
}
.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-1 > li,
.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-1 > .sidebar > li.widget {
	width: 100%;
}
.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-2 > li,
.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-2 > .sidebar > li.widget {
	width: 50%;
}
.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-3 > li,
.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-3 > .sidebar > li.widget {
	width: 33.3333%;
}
.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-4 > li,
.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-4 > .sidebar > li.widget {
	width: 25%;
}
.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-5 > li,
.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-5 > .sidebar > li.widget {
	width: 20%;
}
.nav > li.mgt-menu-fullwidth-inside > .sub-menu, 
.nav > li.mgt-menu-fullwidth-inside > .children {
    left: 0!important;
}
.nav > li > .sub-menu .sidebar {
	margin-top: 0;
}
.nav > li > .sub-menu .sidebar h2 {
	margin-top: 0;
}
.nav > li > .sub-menu > .sidebar > li.widget {
	width: 250px;
	padding: 15px;
	padding-top: 0;

}
.nav > li > .sub-menu > .sidebar > li.widget h2.widgettitle {
	margin-top: 15px;
}
.nav > li > .sub-menu > .sidebar > li.widget.widget_nav_menu {
	padding: 0;
}
.nav > li > .sub-menu > .sidebar > li.widget.widget_nav_menu li.menu-item {
	margin-top: 0;
	margin-bottom: 0;
}
.nav > li > .sub-menu > .sidebar > li.widget.widget_nav_menu .widgettitle {
	padding-left: 25px;
}
.nav > li > .sub-menu .sidebar .widgettitle {
	margin-bottom: 10px;
}
.navbar .navbar-inner .container {
	position: relative;
}
.nav > li.mgt-menu-fullwidth-inside {
	position: static;
}
.nav > li > .sub-menu.mgt-menu-fullwidth {
	width: 100%!important;
	left:0;
	right: auto;
	position: absolute;
}
.nav > li > .sub-menu.megamenu-column-1 > li.menu-item-has-children:nth-of-type(1n+1) {
    clear: both;
}
.nav > li > .sub-menu.megamenu-column-2 > li.menu-item-has-children:nth-of-type(2n+1) {
    clear: both;
}
.nav > li > .sub-menu.megamenu-column-3 > li.menu-item-has-children:nth-of-type(3n+1) {
    clear: both;
}
.nav > li > .sub-menu.megamenu-column-4 > li.menu-item-has-children:nth-of-type(4n+1) {
    clear: both;
}
.nav > li > .sub-menu.megamenu-column-5 > li.menu-item-has-children:nth-of-type(5n+1) {
    clear: both;
}
.nav li .sub-menu.mgt-menu-bg-image {
	background-position: center center;
}
.nav > li.menu-item-multicolumn > .sub-menu > li.menu-item-has-children,
.nav > li.menu-item-multicolumn > .sub-menu > .sidebar > li.widget {
    display: block;
	float: left;
	overflow: hidden;
}
.nav > li.menu-item-multicolumn > .sub-menu > li.menu-item-has-children:last-child,
.nav > li.menu-item-multicolumn > .sub-menu > .sidebar > li.widget:last-child {
	border-right: none;
}
.nav > li.menu-item-multicolumn > .sub-menu > .menu-item-has-children > a,
.nav > li.menu-item-multicolumn > .sub-menu > .menu-item-has-children > a:hover {
    font-weight: normal;
    text-decoration: none;
    font-weight: bold;
}
.nav li.menu-item-multicolumn .sub-menu .sub-menu,
.nav li.menu-item-multicolumn .children .children {
    position: inherit;
    display: block;
    box-shadow: none;
}
.nav li.menu-item-multicolumn .sub-menu li .sub-menu,
.nav li.menu-item-multicolumn .children li .children {
	right: auto;
	margin-top: 0;
}
.nav li.menu-item-multicolumn .sub-menu .sub-menu, 
.nav li.menu-item-multicolumn .children .children {
	padding-top: 0;
	padding-bottom: 0;
}
.nav li.menu-item-multicolumn:hover .sub-menu .sub-menu, 
.nav li.menu-item-multicolumn:hover .children .children {
	opacity: 1;
	visibility: visible;
}
.navbar li.menu-item-multicolumn .sub-menu li.menu-item-has-children > a:after, 
.navbar li.menu-item-multicolumn .children li.menu-item-has-children > a:after {
	display: none;
}
.navbar li.menu-item-multicolumn .sub-menu li.menu-item-has-children > a[href="#"]:hover {
	background: transparent;
}
.nav > li.menu-item-multicolumn .sub-menu .sub-menu,
.nav > li.menu-item-multicolumn .children .children {
    background: transparent;
}
/*
.navbar .nav > li > .sub-menu.megamenu-column-1, 
.navbar .nav > li > .children.megamenu-column-1 {
	padding-top: 10px;
	padding-bottom: 10px;
}*/
@media (min-width: 768px) {
	.nav > li.menu-item-multicolumn >.sub-menu li .sub-menu, 
	.nav > li.menu-item-multicolumn >.children li .children {
 		right: auto;
 		margin-top: 0;
 	}
 	.nav li.menu-item-multicolumn .sub-menu li:hover .sub-menu, 
 	.nav li.menu-item-multicolumn .children li:hover .children {
 		right: auto;
	}
}