/* Insurance Qoute Style Sheet */

div#show_qoute_form_main {
opacity: 1 !important;
}
#lead_genration_iframe{
display: none;
}
.form_row-space{
margin-bottom: 10px;
}

.actions_c.clearfix {
width: 100%;
display: block;
clear: both;
text-align: center;
}
a#qoute_custom {
display: inline-block;
width: 253px;
font-weight: 700;
color: white;
text-align: center;
}
.actions.clearfix ul li:nth-child(3) {
display: none !important;
}

.actions_c a{
background: #fc3a52;
color: #fff;
display: block;
padding: 10px 10px 12px 10px;
text-decoration: none;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

div#resultRightMain {
display: none !important;
}

div#btn_step1 {
display: inline-block;
float: left;
margin: 0px;
padding: 0 0;
}

div#btn_step2 {
display: inline-block;
padding: 0px;
}

div#steps_buttons {
margin: 0em;
text-align: center;
display: block;
margin-bottom: 2em;
}
div#sidebar {
display: none;
}
form#stern_taxi_fare_div {
display: none;
}
button#btn_step1 {
background-color: rgba(18, 204, 148, 0.1);
color: #12cc94;
border: 1px solid #12cc94;
width: 100%;
text-align: left;
font-size: 16px;
font-weight: 700;
padding: 10px;
-webkit-transition: all 0.2s ease-in-out 0s;
-khtml-transition: all 0.2s ease-in-out 0s;
-moz-transition: all 0.2s ease-in-out 0s;
-ms-transition: all 0.2s ease-in-out 0s;
-o-transition: all 0.2s ease-in-out 0s;
transition: all 0.2s ease-in-out 0s;
}

button#btn_step2 {
background-color: rgba(18, 204, 148, 0.1);
color: #12cc94;
border: 1px solid #12cc94;
width: 100%;
text-align: left;
font-size: 16px;
font-weight: 700;
padding: 10px;
-webkit-transition: all 0.2s ease-in-out 0s;
-khtml-transition: all 0.2s ease-in-out 0s;
-moz-transition: all 0.2s ease-in-out 0s;
-ms-transition: all 0.2s ease-in-out 0s;
-o-transition: all 0.2s ease-in-out 0s;
transition: all 0.2s ease-in-out 0s;
}
button#btn_step1:hover {
background-color: #fc3a52;
color: #FFFFFF;
border: 1px solid #12cc94;
}
button#btn_step2:hover {
background-color: #fc3a52;
color: #FFFFFF;
border: 1px solid #12cc94;
}

.active_step button {
background-color: #12cc94 !important;
color: #FFFFFF !important;
}
#step2 .row .checkboxes_step2 input {
box-shadow: none !important;
}
.step_next1btn{
background-color: #12cc94 !important;
color: #2a363b !important;
border: 0px solid #12cc94 !important;
width: 100% !important;
padding: 8px 10px;
text-align: center;
font-size: 26px;
font-weight: 700;
margin-top: 20px;
}

#btn_nextstep2inner{
background-color: #12cc94 !important;
color: #2a363b !important;
border: 0px solid #12cc94 !important;
width: 100% !important;
padding: 8px 10px;
text-align: center;
font-size: 26px;
font-weight: 700;
margin-top: 20px;
}

span#step_count1 {
background-color: #FFFFFF;
color: #62bc73;
border-radius: 180px;
padding: 2px 9px;
margin-right: 10px;
}

span#step_count2 {
background-color: #FFFFFF;
color: #62bc73;
border-radius: 180px;
padding: 2px 9px;
margin-right: 10px;
}

.info-tooltip-right {
background-color: #12cc94;
color: #fff;
border-radius: 0px;
padding: 4px 12px;
margin-right: 0px;
width: 28px !important;
height: 28px !important;
}
#step2 .col.col-sm-1 .info-tip_right {
margin-top: 0px;
}
table.step3_tableheading > thead > tr > th {
font-size: 13px;
font-weight: normal!important;
color: #FFFFFF;
background-color: #2a363b!important;
border-right: 1px solid #c9fdd7;
height: 80px;
width: 100%;
}

.table-center {
overflow: auto;
margin: 0px;
padding: 0px;
}

.table-right{

overflow: auto;

margin: 0px;

padding: 0px;

}

.table-left{

overflow: auto;

margin: 0px;

padding: 0px;

}

.table-right-main {

padding: 0px;

}



tbody#all_comp_datathird td {

text-align: center;

}

table.step3_tableheading.table-right th {

text-align: center;

}

button.add-tocartbtn {

background-color: #F08D1D;

color: #FFFFFF;

font-size: 17px;

border-radius: 6px;

text-align: center;

cursor: pointer;

-webkit-transition: all 0.5s;

-khtml-transition: all 0.5s;

-moz-transition: all 0.5s;

-ms-transition: all 0.5s;

-o-transition: all 0.5s;

transition: all 0.5s;

}

button.add-tocartbtn:hover {

color: #FFFFFF;

background-color: #e4800f;

}



table.fitsttablestep3.step3_tableheading tr {

margin-bottom: 1em;

background: #f9f9f9;

}

table.step3_tableheading tr {

margin-bottom: 1em;

background: #f9f9f9;

}



table.fitsttablestep3.step3_tableheading {

border-spacing: 0 1em;

}

table.step3_tableheading {

border-spacing: 0 1em;

}

table.fitsttablestep3.step3_tableheading tr td {

font-size: 12px!important;

color: #12cc94;

height: 40px !important;

}

table.step3_tableheading.table-right tr td {

height: 40px !important;

padding: 15px 0 9px 0;

text-align: center;

}

table td, table th {

padding: 6px 10px!important;

}



/* Percentage Calculator Css */
.c100.big {
font-size: 216px;
}
.c100 {
position: relative;
font-size: 110px;
width: 1em;
height: 1em;
border-radius: 50%;
margin: 0 auto 0.1em auto;
}
.c100 > span {
font-weight: 500;
position: absolute;
width: 100%;
z-index: 1;
left: -13px;
top: -33px;
width: 5em;
line-height: 5em;
font-size: 0.24em;
color: #555555;
display: block;
text-align: center;
white-space: nowrap;
-webkit-transition-property: all;
-moz-transition-property: all;
-o-transition-property: all;
transition-property: all;
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
-o-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-transition-timing-function: ease-out;
-moz-transition-timing-function: ease-out;
-o-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}

.c100 *, .c100 *:before, .c100 *:after {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
.c100 > span#complete {
font-size: 16px;
top: 108px;
left: 64px;
font-weight: 500;
}
.c100 .slice {
position: absolute;
width: 1em;
height: 1em;
clip: rect(0em, 1em, 1em, 0.5em);
}
.c100.p50 .bar {
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
}

.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
position: absolute;
border: 0.11em solid #307bbb;
width: 0.78em;
height: 0.78em;
clip: rect(0em, 0.5em, 1em, 0em);
border-radius: 50%;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
}

.whitecircle {
position: absolute;
font-size: 120px;
top: 24px;
left: 24px;
width: 1.4em;
height: 1.4em;
border-radius: 50%;
float: left;
margin: 0 0.1em 0.1em 0;
background-color: #fc3a52;
}
.c100:after {
position: absolute;
top: 0.13em;
left: 0.13em;
display: block;
content: " ";
border-radius: 50%;
background-color: #DBDDDD;
width: 0.74em;
height: 0.74em;
-webkit-transition-property: all;
-moz-transition-property: all;
-o-transition-property: all;
transition-property: all;
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
-o-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-transition-timing-function: ease-out;
-moz-transition-timing-function: ease-out;
-o-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}

/* Progress Bar Css */
.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
clip: rect(auto, auto, auto, auto);
}

.pie,

.c100 .bar,

.c100.p51 .fill,

.c100.p52 .fill,

.c100.p53 .fill,

.c100.p54 .fill,

.c100.p55 .fill,

.c100.p56 .fill,

.c100.p57 .fill,

.c100.p58 .fill,

.c100.p59 .fill,

.c100.p60 .fill,

.c100.p61 .fill,

.c100.p62 .fill,

.c100.p63 .fill,

.c100.p64 .fill,

.c100.p65 .fill,

.c100.p66 .fill,

.c100.p67 .fill,

.c100.p68 .fill,

.c100.p69 .fill,

.c100.p70 .fill,

.c100.p71 .fill,

.c100.p72 .fill,

.c100.p73 .fill,

.c100.p74 .fill,

.c100.p75 .fill,

.c100.p76 .fill,

.c100.p77 .fill,

.c100.p78 .fill,

.c100.p79 .fill,

.c100.p80 .fill,

.c100.p81 .fill,

.c100.p82 .fill,

.c100.p83 .fill,

.c100.p84 .fill,

.c100.p85 .fill,

.c100.p86 .fill,

.c100.p87 .fill,

.c100.p88 .fill,

.c100.p89 .fill,

.c100.p90 .fill,

.c100.p91 .fill,

.c100.p92 .fill,

.c100.p93 .fill,

.c100.p94 .fill,

.c100.p95 .fill,

.c100.p96 .fill,

.c100.p97 .fill,

.c100.p98 .fill,

.c100.p99 .fill,

.c100.p100 .fill {

position: absolute;

border: 0.11em solid #12cc94;

width: 0.78em;

height: 0.78em;

clip: rect(0em, 0.5em, 1em, 0em);

border-radius: 50%;

-webkit-transform: rotate(0deg);

-moz-transform: rotate(0deg);

-ms-transform: rotate(0deg);

-o-transform: rotate(0deg);

transform: rotate(0deg);

}

.pie-fill,

.c100.p51 .bar:after,

.c100.p51 .fill,

.c100.p52 .bar:after,

.c100.p52 .fill,

.c100.p53 .bar:after,

.c100.p53 .fill,

.c100.p54 .bar:after,

.c100.p54 .fill,

.c100.p55 .bar:after,

.c100.p55 .fill,

.c100.p56 .bar:after,

.c100.p56 .fill,

.c100.p57 .bar:after,

.c100.p57 .fill,

.c100.p58 .bar:after,

.c100.p58 .fill,

.c100.p59 .bar:after,

.c100.p59 .fill,

.c100.p60 .bar:after,

.c100.p60 .fill,

.c100.p61 .bar:after,

.c100.p61 .fill,

.c100.p62 .bar:after,

.c100.p62 .fill,

.c100.p63 .bar:after,

.c100.p63 .fill,

.c100.p64 .bar:after,

.c100.p64 .fill,

.c100.p65 .bar:after,

.c100.p65 .fill,

.c100.p66 .bar:after,

.c100.p66 .fill,

.c100.p67 .bar:after,

.c100.p67 .fill,

.c100.p68 .bar:after,

.c100.p68 .fill,

.c100.p69 .bar:after,

.c100.p69 .fill,

.c100.p70 .bar:after,

.c100.p70 .fill,

.c100.p71 .bar:after,

.c100.p71 .fill,

.c100.p72 .bar:after,

.c100.p72 .fill,

.c100.p73 .bar:after,

.c100.p73 .fill,

.c100.p74 .bar:after,

.c100.p74 .fill,

.c100.p75 .bar:after,

.c100.p75 .fill,

.c100.p76 .bar:after,

.c100.p76 .fill,

.c100.p77 .bar:after,

.c100.p77 .fill,

.c100.p78 .bar:after,

.c100.p78 .fill,

.c100.p79 .bar:after,

.c100.p79 .fill,

.c100.p80 .bar:after,

.c100.p80 .fill,

.c100.p81 .bar:after,

.c100.p81 .fill,

.c100.p82 .bar:after,

.c100.p82 .fill,

.c100.p83 .bar:after,

.c100.p83 .fill,

.c100.p84 .bar:after,

.c100.p84 .fill,

.c100.p85 .bar:after,

.c100.p85 .fill,

.c100.p86 .bar:after,

.c100.p86 .fill,

.c100.p87 .bar:after,

.c100.p87 .fill,

.c100.p88 .bar:after,

.c100.p88 .fill,

.c100.p89 .bar:after,

.c100.p89 .fill,

.c100.p90 .bar:after,

.c100.p90 .fill,

.c100.p91 .bar:after,

.c100.p91 .fill,

.c100.p92 .bar:after,

.c100.p92 .fill,

.c100.p93 .bar:after,

.c100.p93 .fill,

.c100.p94 .bar:after,

.c100.p94 .fill,

.c100.p95 .bar:after,

.c100.p95 .fill,

.c100.p96 .bar:after,

.c100.p96 .fill,

.c100.p97 .bar:after,

.c100.p97 .fill,

.c100.p98 .bar:after,

.c100.p98 .fill,

.c100.p99 .bar:after,

.c100.p99 .fill,

.c100.p100 .bar:after,

.c100.p100 .fill {

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}

.c100 {

position: relative;

font-size: 120px;

width: 1em;

height: 1em;

border-radius: 50%;

margin: 0 auto 0.1em auto;

}

.c100 *,

.c100 *:before,

.c100 *:after {

-webkit-box-sizing: content-box;

-moz-box-sizing: content-box;

box-sizing: content-box;

}

.c100.center {

float: none;

margin: 0 auto;

}

.c100.big {

font-size: 216px;

}

.c100 > span {

font-weight: 500;

position: absolute;

width: 100%;

z-index: 1;

left: -13px;

top: -33px;

width: 5em;

line-height: 5em;

font-size: 0.24em;

color: #12cc94;

display: block;

text-align: center;

white-space: nowrap;

-webkit-transition-property: all;

-moz-transition-property: all;

-o-transition-property: all;

transition-property: all;

-webkit-transition-duration: 0.2s;

-moz-transition-duration: 0.2s;

-o-transition-duration: 0.2s;

transition-duration: 0.2s;

-webkit-transition-timing-function: ease-out;

-moz-transition-timing-function: ease-out;

-o-transition-timing-function: ease-out;

transition-timing-function: ease-out;

}

.c100 > span#complete {

font-size: 16px;

top: 108px;

left: 64px;

font-weight: 500;

}

.c100:after {

position: absolute;

top: 0.13em;

left: 0.13em;

display: block;

content: " ";

border-radius: 50%;

background-color: #f9f9f9;

width: 0.74em;

height: 0.74em;

-webkit-transition-property: all;

-moz-transition-property: all;

-o-transition-property: all;

transition-property: all;

-webkit-transition-duration: 0.2s;

-moz-transition-duration: 0.2s;

-o-transition-duration: 0.2s;

transition-duration: 0.2s;

-webkit-transition-timing-function: ease-out;

-moz-transition-timing-function: ease-out;

-o-transition-timing-function: ease-out;

transition-timing-function: ease-out;

}

.c100 .slice {

position: absolute;

width: 1em;

height: 1em;

clip: rect(0em, 1em, 1em, 0.5em);

}

.c100.p1 .bar {

-webkit-transform: rotate(3.6deg);

-moz-transform: rotate(3.6deg);

-ms-transform: rotate(3.6deg);

-o-transform: rotate(3.6deg);

transform: rotate(3.6deg);

}

.c100.p2 .bar {

-webkit-transform: rotate(7.2deg);

-moz-transform: rotate(7.2deg);

-ms-transform: rotate(7.2deg);

-o-transform: rotate(7.2deg);

transform: rotate(7.2deg);

}

.c100.p3 .bar {

-webkit-transform: rotate(10.8deg);

-moz-transform: rotate(10.8deg);

-ms-transform: rotate(10.8deg);

-o-transform: rotate(10.8deg);

transform: rotate(10.8deg);

}

.c100.p4 .bar {

-webkit-transform: rotate(14.4deg);

-moz-transform: rotate(14.4deg);

-ms-transform: rotate(14.4deg);

-o-transform: rotate(14.4deg);

transform: rotate(14.4deg);

}

.c100.p5 .bar {

-webkit-transform: rotate(18deg);

-moz-transform: rotate(18deg);

-ms-transform: rotate(18deg);

-o-transform: rotate(18deg);

transform: rotate(18deg);

}

.c100.p6 .bar {

-webkit-transform: rotate(21.6deg);

-moz-transform: rotate(21.6deg);

-ms-transform: rotate(21.6deg);

-o-transform: rotate(21.6deg);

transform: rotate(21.6deg);

}

.c100.p7 .bar {

-webkit-transform: rotate(25.2deg);

-moz-transform: rotate(25.2deg);

-ms-transform: rotate(25.2deg);

-o-transform: rotate(25.2deg);

transform: rotate(25.2deg);

}

.c100.p8 .bar {

-webkit-transform: rotate(28.8deg);

-moz-transform: rotate(28.8deg);

-ms-transform: rotate(28.8deg);

-o-transform: rotate(28.8deg);

transform: rotate(28.8deg);

}

.c100.p9 .bar {

-webkit-transform: rotate(32.4deg);

-moz-transform: rotate(32.4deg);

-ms-transform: rotate(32.4deg);

-o-transform: rotate(32.4deg);

transform: rotate(32.4deg);

}

.c100.p10 .bar {

-webkit-transform: rotate(36deg);

-moz-transform: rotate(36deg);

-ms-transform: rotate(36deg);

-o-transform: rotate(36deg);

transform: rotate(36deg);

}

.c100.p11 .bar {

-webkit-transform: rotate(39.6deg);

-moz-transform: rotate(39.6deg);

-ms-transform: rotate(39.6deg);

-o-transform: rotate(39.6deg);

transform: rotate(39.6deg);

}

.c100.p12 .bar {

-webkit-transform: rotate(43.2deg);

-moz-transform: rotate(43.2deg);

-ms-transform: rotate(43.2deg);

-o-transform: rotate(43.2deg);

transform: rotate(43.2deg);

}

.c100.p13 .bar {

-webkit-transform: rotate(46.800000000000004deg);

-moz-transform: rotate(46.800000000000004deg);

-ms-transform: rotate(46.800000000000004deg);

-o-transform: rotate(46.800000000000004deg);

transform: rotate(46.800000000000004deg);

}

.c100.p14 .bar {

-webkit-transform: rotate(50.4deg);

-moz-transform: rotate(50.4deg);

-ms-transform: rotate(50.4deg);

-o-transform: rotate(50.4deg);

transform: rotate(50.4deg);

}

.c100.p15 .bar {

-webkit-transform: rotate(54deg);

-moz-transform: rotate(54deg);

-ms-transform: rotate(54deg);

-o-transform: rotate(54deg);

transform: rotate(54deg);

}

.c100.p16 .bar {

-webkit-transform: rotate(57.6deg);

-moz-transform: rotate(57.6deg);

-ms-transform: rotate(57.6deg);

-o-transform: rotate(57.6deg);

transform: rotate(57.6deg);

}

.c100.p17 .bar {

-webkit-transform: rotate(61.2deg);

-moz-transform: rotate(61.2deg);

-ms-transform: rotate(61.2deg);

-o-transform: rotate(61.2deg);

transform: rotate(61.2deg);

}

.c100.p18 .bar {

-webkit-transform: rotate(64.8deg);

-moz-transform: rotate(64.8deg);

-ms-transform: rotate(64.8deg);

-o-transform: rotate(64.8deg);

transform: rotate(64.8deg);

}

.c100.p19 .bar {

-webkit-transform: rotate(68.4deg);

-moz-transform: rotate(68.4deg);

-ms-transform: rotate(68.4deg);

-o-transform: rotate(68.4deg);

transform: rotate(68.4deg);

}

.c100.p20 .bar {

-webkit-transform: rotate(72deg);

-moz-transform: rotate(72deg);

-ms-transform: rotate(72deg);

-o-transform: rotate(72deg);

transform: rotate(72deg);

}

.c100.p21 .bar {

-webkit-transform: rotate(75.60000000000001deg);

-moz-transform: rotate(75.60000000000001deg);

-ms-transform: rotate(75.60000000000001deg);

-o-transform: rotate(75.60000000000001deg);

transform: rotate(75.60000000000001deg);

}

.c100.p22 .bar {

-webkit-transform: rotate(79.2deg);

-moz-transform: rotate(79.2deg);

-ms-transform: rotate(79.2deg);

-o-transform: rotate(79.2deg);

transform: rotate(79.2deg);

}

.c100.p23 .bar {

-webkit-transform: rotate(82.8deg);

-moz-transform: rotate(82.8deg);

-ms-transform: rotate(82.8deg);

-o-transform: rotate(82.8deg);

transform: rotate(82.8deg);

}

.c100.p24 .bar {

-webkit-transform: rotate(86.4deg);

-moz-transform: rotate(86.4deg);

-ms-transform: rotate(86.4deg);

-o-transform: rotate(86.4deg);

transform: rotate(86.4deg);

}

.c100.p25 .bar {

-webkit-transform: rotate(90deg);

-moz-transform: rotate(90deg);

-ms-transform: rotate(90deg);

-o-transform: rotate(90deg);

transform: rotate(90deg);

}

.c100.p26 .bar {

-webkit-transform: rotate(93.60000000000001deg);

-moz-transform: rotate(93.60000000000001deg);

-ms-transform: rotate(93.60000000000001deg);

-o-transform: rotate(93.60000000000001deg);

transform: rotate(93.60000000000001deg);

}

.c100.p27 .bar {

-webkit-transform: rotate(97.2deg);

-moz-transform: rotate(97.2deg);

-ms-transform: rotate(97.2deg);

-o-transform: rotate(97.2deg);

transform: rotate(97.2deg);

}

.c100.p28 .bar {

-webkit-transform: rotate(100.8deg);

-moz-transform: rotate(100.8deg);

-ms-transform: rotate(100.8deg);

-o-transform: rotate(100.8deg);

transform: rotate(100.8deg);

}

.c100.p29 .bar {

-webkit-transform: rotate(104.4deg);

-moz-transform: rotate(104.4deg);

-ms-transform: rotate(104.4deg);

-o-transform: rotate(104.4deg);

transform: rotate(104.4deg);

}

.c100.p30 .bar {

-webkit-transform: rotate(108deg);

-moz-transform: rotate(108deg);

-ms-transform: rotate(108deg);

-o-transform: rotate(108deg);

transform: rotate(108deg);

}

.c100.p31 .bar {

-webkit-transform: rotate(111.60000000000001deg);

-moz-transform: rotate(111.60000000000001deg);

-ms-transform: rotate(111.60000000000001deg);

-o-transform: rotate(111.60000000000001deg);

transform: rotate(111.60000000000001deg);

}

.c100.p32 .bar {

-webkit-transform: rotate(115.2deg);

-moz-transform: rotate(115.2deg);

-ms-transform: rotate(115.2deg);

-o-transform: rotate(115.2deg);

transform: rotate(115.2deg);

}

.c100.p33 .bar {

-webkit-transform: rotate(118.8deg);

-moz-transform: rotate(118.8deg);

-ms-transform: rotate(118.8deg);

-o-transform: rotate(118.8deg);

transform: rotate(118.8deg);

}

.c100.p34 .bar {

-webkit-transform: rotate(122.4deg);

-moz-transform: rotate(122.4deg);

-ms-transform: rotate(122.4deg);

-o-transform: rotate(122.4deg);

transform: rotate(122.4deg);

}

.c100.p35 .bar {

-webkit-transform: rotate(126deg);

-moz-transform: rotate(126deg);

-ms-transform: rotate(126deg);

-o-transform: rotate(126deg);

transform: rotate(126deg);

}

.c100.p36 .bar {

-webkit-transform: rotate(129.6deg);

-moz-transform: rotate(129.6deg);

-ms-transform: rotate(129.6deg);

-o-transform: rotate(129.6deg);

transform: rotate(129.6deg);

}

.c100.p37 .bar {

-webkit-transform: rotate(133.20000000000002deg);

-moz-transform: rotate(133.20000000000002deg);

-ms-transform: rotate(133.20000000000002deg);

-o-transform: rotate(133.20000000000002deg);

transform: rotate(133.20000000000002deg);

}

.c100.p38 .bar {

-webkit-transform: rotate(136.8deg);

-moz-transform: rotate(136.8deg);

-ms-transform: rotate(136.8deg);

-o-transform: rotate(136.8deg);

transform: rotate(136.8deg);

}

.c100.p39 .bar {

-webkit-transform: rotate(140.4deg);

-moz-transform: rotate(140.4deg);

-ms-transform: rotate(140.4deg);

-o-transform: rotate(140.4deg);

transform: rotate(140.4deg);

}

.c100.p40 .bar {

-webkit-transform: rotate(144deg);

-moz-transform: rotate(144deg);

-ms-transform: rotate(144deg);

-o-transform: rotate(144deg);

transform: rotate(144deg);

}

.c100.p41 .bar {

-webkit-transform: rotate(147.6deg);

-moz-transform: rotate(147.6deg);

-ms-transform: rotate(147.6deg);

-o-transform: rotate(147.6deg);

transform: rotate(147.6deg);

}

.c100.p42 .bar {

-webkit-transform: rotate(151.20000000000002deg);

-moz-transform: rotate(151.20000000000002deg);

-ms-transform: rotate(151.20000000000002deg);

-o-transform: rotate(151.20000000000002deg);

transform: rotate(151.20000000000002deg);

}

.c100.p43 .bar {

-webkit-transform: rotate(154.8deg);

-moz-transform: rotate(154.8deg);

-ms-transform: rotate(154.8deg);

-o-transform: rotate(154.8deg);

transform: rotate(154.8deg);

}

.c100.p44 .bar {

-webkit-transform: rotate(158.4deg);

-moz-transform: rotate(158.4deg);

-ms-transform: rotate(158.4deg);

-o-transform: rotate(158.4deg);

transform: rotate(158.4deg);

}

.c100.p45 .bar {

-webkit-transform: rotate(162deg);

-moz-transform: rotate(162deg);

-ms-transform: rotate(162deg);

-o-transform: rotate(162deg);

transform: rotate(162deg);

}

.c100.p46 .bar {

-webkit-transform: rotate(165.6deg);

-moz-transform: rotate(165.6deg);

-ms-transform: rotate(165.6deg);

-o-transform: rotate(165.6deg);

transform: rotate(165.6deg);

}

.c100.p47 .bar {

-webkit-transform: rotate(169.20000000000002deg);

-moz-transform: rotate(169.20000000000002deg);

-ms-transform: rotate(169.20000000000002deg);

-o-transform: rotate(169.20000000000002deg);

transform: rotate(169.20000000000002deg);

}

.c100.p48 .bar {

-webkit-transform: rotate(172.8deg);

-moz-transform: rotate(172.8deg);

-ms-transform: rotate(172.8deg);

-o-transform: rotate(172.8deg);

transform: rotate(172.8deg);

}

.c100.p49 .bar {

-webkit-transform: rotate(176.4deg);

-moz-transform: rotate(176.4deg);

-ms-transform: rotate(176.4deg);

-o-transform: rotate(176.4deg);

transform: rotate(176.4deg);

}

.c100.p50 .bar {

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}

.c100.p51 .bar {

-webkit-transform: rotate(183.6deg);

-moz-transform: rotate(183.6deg);

-ms-transform: rotate(183.6deg);

-o-transform: rotate(183.6deg);

transform: rotate(183.6deg);

}

.c100.p52 .bar {

-webkit-transform: rotate(187.20000000000002deg);

-moz-transform: rotate(187.20000000000002deg);

-ms-transform: rotate(187.20000000000002deg);

-o-transform: rotate(187.20000000000002deg);

transform: rotate(187.20000000000002deg);

}

.c100.p53 .bar {

-webkit-transform: rotate(190.8deg);

-moz-transform: rotate(190.8deg);

-ms-transform: rotate(190.8deg);

-o-transform: rotate(190.8deg);

transform: rotate(190.8deg);

}

.c100.p54 .bar {

-webkit-transform: rotate(194.4deg);

-moz-transform: rotate(194.4deg);

-ms-transform: rotate(194.4deg);

-o-transform: rotate(194.4deg);

transform: rotate(194.4deg);

}

.c100.p55 .bar {

-webkit-transform: rotate(198deg);

-moz-transform: rotate(198deg);

-ms-transform: rotate(198deg);

-o-transform: rotate(198deg);

transform: rotate(198deg);

}

.c100.p56 .bar {

-webkit-transform: rotate(201.6deg);

-moz-transform: rotate(201.6deg);

-ms-transform: rotate(201.6deg);

-o-transform: rotate(201.6deg);

transform: rotate(201.6deg);

}

.c100.p57 .bar {

-webkit-transform: rotate(205.20000000000002deg);

-moz-transform: rotate(205.20000000000002deg);

-ms-transform: rotate(205.20000000000002deg);

-o-transform: rotate(205.20000000000002deg);

transform: rotate(205.20000000000002deg);

}

.c100.p58 .bar {

-webkit-transform: rotate(208.8deg);

-moz-transform: rotate(208.8deg);

-ms-transform: rotate(208.8deg);

-o-transform: rotate(208.8deg);

transform: rotate(208.8deg);

}

.c100.p59 .bar {

-webkit-transform: rotate(212.4deg);

-moz-transform: rotate(212.4deg);

-ms-transform: rotate(212.4deg);

-o-transform: rotate(212.4deg);

transform: rotate(212.4deg);

}

.c100.p60 .bar {

-webkit-transform: rotate(216deg);

-moz-transform: rotate(216deg);

-ms-transform: rotate(216deg);

-o-transform: rotate(216deg);

transform: rotate(216deg);

}

.c100.p61 .bar {

-webkit-transform: rotate(219.6deg);

-moz-transform: rotate(219.6deg);

-ms-transform: rotate(219.6deg);

-o-transform: rotate(219.6deg);

transform: rotate(219.6deg);

}

.c100.p62 .bar {

-webkit-transform: rotate(223.20000000000002deg);

-moz-transform: rotate(223.20000000000002deg);

-ms-transform: rotate(223.20000000000002deg);

-o-transform: rotate(223.20000000000002deg);

transform: rotate(223.20000000000002deg);

}

.c100.p63 .bar {

-webkit-transform: rotate(226.8deg);

-moz-transform: rotate(226.8deg);

-ms-transform: rotate(226.8deg);

-o-transform: rotate(226.8deg);

transform: rotate(226.8deg);

}

.c100.p64 .bar {

-webkit-transform: rotate(230.4deg);

-moz-transform: rotate(230.4deg);

-ms-transform: rotate(230.4deg);

-o-transform: rotate(230.4deg);

transform: rotate(230.4deg);

}

.c100.p65 .bar {

-webkit-transform: rotate(234deg);

-moz-transform: rotate(234deg);

-ms-transform: rotate(234deg);

-o-transform: rotate(234deg);

transform: rotate(234deg);

}

.c100.p66 .bar {

-webkit-transform: rotate(237.6deg);

-moz-transform: rotate(237.6deg);

-ms-transform: rotate(237.6deg);

-o-transform: rotate(237.6deg);

transform: rotate(237.6deg);

}

.c100.p67 .bar {

-webkit-transform: rotate(241.20000000000002deg);

-moz-transform: rotate(241.20000000000002deg);

-ms-transform: rotate(241.20000000000002deg);

-o-transform: rotate(241.20000000000002deg);

transform: rotate(241.20000000000002deg);

}

.c100.p68 .bar {

-webkit-transform: rotate(244.8deg);

-moz-transform: rotate(244.8deg);

-ms-transform: rotate(244.8deg);

-o-transform: rotate(244.8deg);

transform: rotate(244.8deg);

}

.c100.p69 .bar {

-webkit-transform: rotate(248.4deg);

-moz-transform: rotate(248.4deg);

-ms-transform: rotate(248.4deg);

-o-transform: rotate(248.4deg);

transform: rotate(248.4deg);

}

.c100.p70 .bar {

-webkit-transform: rotate(252deg);

-moz-transform: rotate(252deg);

-ms-transform: rotate(252deg);

-o-transform: rotate(252deg);

transform: rotate(252deg);

}

.c100.p71 .bar {

-webkit-transform: rotate(255.6deg);

-moz-transform: rotate(255.6deg);

-ms-transform: rotate(255.6deg);

-o-transform: rotate(255.6deg);

transform: rotate(255.6deg);

}

.c100.p72 .bar {

-webkit-transform: rotate(259.2deg);

-moz-transform: rotate(259.2deg);

-ms-transform: rotate(259.2deg);

-o-transform: rotate(259.2deg);

transform: rotate(259.2deg);

}

.c100.p73 .bar {

-webkit-transform: rotate(262.8deg);

-moz-transform: rotate(262.8deg);

-ms-transform: rotate(262.8deg);

-o-transform: rotate(262.8deg);

transform: rotate(262.8deg);

}

.c100.p74 .bar {

-webkit-transform: rotate(266.40000000000003deg);

-moz-transform: rotate(266.40000000000003deg);

-ms-transform: rotate(266.40000000000003deg);

-o-transform: rotate(266.40000000000003deg);

transform: rotate(266.40000000000003deg);

}

.c100.p75 .bar {

-webkit-transform: rotate(270deg);

-moz-transform: rotate(270deg);

-ms-transform: rotate(270deg);

-o-transform: rotate(270deg);

transform: rotate(270deg);

}

.c100.p76 .bar {

-webkit-transform: rotate(273.6deg);

-moz-transform: rotate(273.6deg);

-ms-transform: rotate(273.6deg);

-o-transform: rotate(273.6deg);

transform: rotate(273.6deg);

}

.c100.p77 .bar {

-webkit-transform: rotate(277.2deg);

-moz-transform: rotate(277.2deg);

-ms-transform: rotate(277.2deg);

-o-transform: rotate(277.2deg);

transform: rotate(277.2deg);

}

.c100.p78 .bar {

-webkit-transform: rotate(280.8deg);

-moz-transform: rotate(280.8deg);

-ms-transform: rotate(280.8deg);

-o-transform: rotate(280.8deg);

transform: rotate(280.8deg);

}

.c100.p79 .bar {

-webkit-transform: rotate(284.40000000000003deg);

-moz-transform: rotate(284.40000000000003deg);

-ms-transform: rotate(284.40000000000003deg);

-o-transform: rotate(284.40000000000003deg);

transform: rotate(284.40000000000003deg);

}

.c100.p80 .bar {

-webkit-transform: rotate(288deg);

-moz-transform: rotate(288deg);

-ms-transform: rotate(288deg);

-o-transform: rotate(288deg);

transform: rotate(288deg);

}

.c100.p81 .bar {

-webkit-transform: rotate(291.6deg);

-moz-transform: rotate(291.6deg);

-ms-transform: rotate(291.6deg);

-o-transform: rotate(291.6deg);

transform: rotate(291.6deg);

}

.c100.p82 .bar {

-webkit-transform: rotate(295.2deg);

-moz-transform: rotate(295.2deg);

-ms-transform: rotate(295.2deg);

-o-transform: rotate(295.2deg);

transform: rotate(295.2deg);

}

.c100.p83 .bar {

-webkit-transform: rotate(298.8deg);

-moz-transform: rotate(298.8deg);

-ms-transform: rotate(298.8deg);

-o-transform: rotate(298.8deg);

transform: rotate(298.8deg);

}

.c100.p84 .bar {

-webkit-transform: rotate(302.40000000000003deg);

-moz-transform: rotate(302.40000000000003deg);

-ms-transform: rotate(302.40000000000003deg);

-o-transform: rotate(302.40000000000003deg);

transform: rotate(302.40000000000003deg);

}

.c100.p85 .bar {

-webkit-transform: rotate(306deg);

-moz-transform: rotate(306deg);

-ms-transform: rotate(306deg);

-o-transform: rotate(306deg);

transform: rotate(306deg);

}

.c100.p86 .bar {

-webkit-transform: rotate(309.6deg);

-moz-transform: rotate(309.6deg);

-ms-transform: rotate(309.6deg);

-o-transform: rotate(309.6deg);

transform: rotate(309.6deg);

}

.c100.p87 .bar {

-webkit-transform: rotate(313.2deg);

-moz-transform: rotate(313.2deg);

-ms-transform: rotate(313.2deg);

-o-transform: rotate(313.2deg);

transform: rotate(313.2deg);

}

.c100.p88 .bar {

-webkit-transform: rotate(316.8deg);

-moz-transform: rotate(316.8deg);

-ms-transform: rotate(316.8deg);

-o-transform: rotate(316.8deg);

transform: rotate(316.8deg);

}

.c100.p89 .bar {

-webkit-transform: rotate(320.40000000000003deg);

-moz-transform: rotate(320.40000000000003deg);

-ms-transform: rotate(320.40000000000003deg);

-o-transform: rotate(320.40000000000003deg);

transform: rotate(320.40000000000003deg);

}

.c100.p90 .bar {

-webkit-transform: rotate(324deg);

-moz-transform: rotate(324deg);

-ms-transform: rotate(324deg);

-o-transform: rotate(324deg);

transform: rotate(324deg);

}

.c100.p91 .bar {

-webkit-transform: rotate(327.6deg);

-moz-transform: rotate(327.6deg);

-ms-transform: rotate(327.6deg);

-o-transform: rotate(327.6deg);

transform: rotate(327.6deg);

}

.c100.p92 .bar {

-webkit-transform: rotate(331.2deg);

-moz-transform: rotate(331.2deg);

-ms-transform: rotate(331.2deg);

-o-transform: rotate(331.2deg);

transform: rotate(331.2deg);

}

.c100.p93 .bar {

-webkit-transform: rotate(334.8deg);

-moz-transform: rotate(334.8deg);

-ms-transform: rotate(334.8deg);

-o-transform: rotate(334.8deg);

transform: rotate(334.8deg);

}

.c100.p94 .bar {

-webkit-transform: rotate(338.40000000000003deg);

-moz-transform: rotate(338.40000000000003deg);

-ms-transform: rotate(338.40000000000003deg);

-o-transform: rotate(338.40000000000003deg);

transform: rotate(338.40000000000003deg);

}

.c100.p95 .bar {

-webkit-transform: rotate(342deg);

-moz-transform: rotate(342deg);

-ms-transform: rotate(342deg);

-o-transform: rotate(342deg);

transform: rotate(342deg);

}

.c100.p96 .bar {

-webkit-transform: rotate(345.6deg);

-moz-transform: rotate(345.6deg);

-ms-transform: rotate(345.6deg);

-o-transform: rotate(345.6deg);

transform: rotate(345.6deg);

}

.c100.p97 .bar {

-webkit-transform: rotate(349.2deg);

-moz-transform: rotate(349.2deg);

-ms-transform: rotate(349.2deg);

-o-transform: rotate(349.2deg);

transform: rotate(349.2deg);

}

.c100.p98 .bar {

-webkit-transform: rotate(352.8deg);

-moz-transform: rotate(352.8deg);

-ms-transform: rotate(352.8deg);

-o-transform: rotate(352.8deg);

transform: rotate(352.8deg);

}

.c100.p99 .bar {

-webkit-transform: rotate(356.40000000000003deg);

-moz-transform: rotate(356.40000000000003deg);

-ms-transform: rotate(356.40000000000003deg);

-o-transform: rotate(356.40000000000003deg);

transform: rotate(356.40000000000003deg);

}

.c100.p100 .bar {

-webkit-transform: rotate(360deg);

-moz-transform: rotate(360deg);

-ms-transform: rotate(360deg);

-o-transform: rotate(360deg);

transform: rotate(360deg);

}

.c100:hover {

cursor: default;

}

.c100:hover:after {

top: 0.14em;

left: 0.14em;

width: 0.72em;

height: 0.72em;

}

.c100:hover > span {

left: -10px;

top: -30px;

width: 5em;

line-height: 5em;

font-size: 0.23em;

}

.c100:hover > span#complete {

font-size: 15px;

top: 110px;

left: 66px;

}



.brand_newcheck {

display: block;

width: 50%;

float: left;

}

.info-tip_right {

padding-top: 4px;

padding-left: 0px !important;

}

div#step1 {

background: rgba(255, 255, 255, 0);

padding: 3em 2em;

border: 1px dotted #12cc94;

border-radius: 0px;

}

label.switch.switch-round.block.option {
width: 70px !important;
padding-top: 5px;
margin-left: 58px;
}

@.percentage {
font-size: 14px;
box-shadow: none;
border: 1px solid #12cc94;
background: #f4f5f6;
height: 38px;
color: #525050;
}

@input.percentage {
font-size: 14px;
box-shadow: none;
border: 1px solid #12cc94;
background: #f4f5f6;
height: 38px;
color: #525050;
}

.form_descright {

margin-bottom: 20px;

text-align: center;

font-size: 14px;

font-family: inherit;

margin: 0 0 10px;

}

img.form_descicon {

margin-top: 0px;

margin-bottom: 20px!important;

width: 60px;

height: 60px;

display: inline-block;

}

.form_desc {
text-align: center;
font-size: 17px;
}

div#step2 {
background: rgba(255, 255, 255, 0);
padding: 3em 2em;
border: 1px dotted #12cc94;
border-radius: 0px;
}
.step1_labels {
font-size: 15px;
line-height: 38px;
color: #3f3f3f;
font-family: inherit;
margin-bottom: 0px;
padding-left: 10px;
font-weight: 500;
border: 1px dotted #beddbd;
background-color: #dbedda;
}
.step2_labels {
font-size: 15px;
line-height: 38px;
color: #3f3f3f;
font-family: inherit;
margin-bottom: 0px;
padding-left: 10px;
font-weight: 500;
border: 1px dotted #beddbd;
background-color: #dbedda;
}





span#phone1 {
width: 25% !important;
display: inline-block;
float: left;
}
span#phone2 {
width: 66%;
display: inline-block;
float: right;
}

span#month {
width: 44% !important;
display: inline-block;
float: left;
margin: 0 3%;
}

@#month .select2-container .select2-choice, #phone1 .select2-container .select2-choice {
padding-left: 10px !important;
}



/* emo Css */
@.form-control {
display: block;
width: 100%;
height: 38px!important;
padding: 0px 0px 0px 0px!important;
font-size: 14px;
line-height: 36px!important;
color: #12cc94!important;
background-color: rgba(255, 255, 255, 0.6)!important;
border: 1px solid #12cc94!important;
border-radius: 0px !important;
box-shadow: none!important;
}
@.select2-container .select2-choice {
height: 36px!important;
border: 0px dotted #12cc94!important;
white-space: nowrap;
color: #12cc94!important;
background-clip: padding-box!important;
background-color: rgba(255, 255, 255, 0.6)!important;
text-align: center;
}
@.select2-container .select2-choice .select2-arrow {
width: 36px!important;
font-size: 16px!important;
}
@.select2-container .select2-choice .select2-arrow:after {
content: "\f078"!important;
margin-left: 10px!important;
margin-top: 0px!important;
}
@.select2-results .select2-result-label {
padding: 8px 10px!important;
font-size: 14px!important;
font-weight: normal;
border-bottom: 1px dotted #c9fdd7!important;
}
@.select2-drop {
color: #12cc94!important;
}
.car_value_box {
margin-top: 6px;
margin-bottom: 6px!important;
font-family: inherit;
font-size: 13px;
color: #fc3a52;
padding: 10px;
width: 100%;
background-color: #f9f9f9;
border: 1px dotted #12cc94;
}
.hide_this{
display:none;
}
.show_this{
display:block;
}
label.error {
font-size: 13px;
color: #fc3a52;
font-weight: 300;
}
@::-webkit-input-placeholder {
color: #12cc94!important;
text-align: center;
}
@div#btn_nextstep1 span {
color: white;
}


[class*="icomoon-"]:before {
font-family:'icomoon-ultimate';
speak:none;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}

.pricing-tables-widget-header h4 {
margin-top: 0px !important;
margin-bottom: 0px !important;
}
.pricing-tables-widget-header p {
padding-bottom: 3px !important;
}
.pricing-tables-widget .pricing-tables-widget-header .pricing-tables-widget-price {
padding: 0px 0 5px 0;
}
.ptablefooter {
padding: 1px 20px !important;
}
.ptablefooter h3{
padding: 0px 0px !important;
margin: 2px 0px !important;
color: #ffffff !important;
line-height: 1.25 !important;
font-size: 20px !important;
}

.ptablefooter p {
padding-top: 0px !important;
}

.ptablefooter h1{
margin: 7px 0 6px 0 !important;
color: #12cc94 !important;
display: block !important;
font-size: 28px !important;
}

.pricing-widget-wrapper.mainrow {
margin: 0px auto;
padding: 6px 0px;
}
.mainrow .pricing-tables-widget-purchase {
color: #fc3a52 !important;
text-align: center !important;
font-size: 13px !important;
text-transform: capitalize !important;
}
.grid-item.item-lg-3.item-xs-12.leftbar .pricing-tables-widget-header {
background: #2b363c !important;
}

.pricing-tables-widget-footer.ptablefooter {
background-color: #2b363c !important;
}

.ptablefooter .pricing-tables-widget-purchase-button {
background: #12cc94 !important;
}
.mainrow .pricing-tables-widget-section {
background-color: #effff5 !important;
}
.mainrow .pricing-tables-widget-default.pricing-tables-widget-dark .pricing-tables-widget-section ul li{
color:black !important;
}

.rightdiscount {
text-align: left;
margin-top: 7px !important;
}

.pricing-tables-widget-default.pricing-tables-widget-blue .pricing-tables-widget-header.tablerighthead p {
border-bottom: 1px dotted rgba(18, 204, 148, 0.3);
}
.pricing-tables-widget-section .iconcircle {
color: black !important;
font-size: 6px !important;
position: relative;
top: -2px;
}

span.dataval {
display: inline-block !important;
margin-left: 10px;
margin-right: 4px;
color: #12cc94 !important;
}

p#companylogo {
text-align: center;
}

.mainrow .pricing-tables-widget-section {

padding: 5px 15px !important;

}

p.pricing-tables-widget-purchase.seemoredetails {
font-size: 15px !important;
color: #fc3a52 !important;
width: 100% !important;
display: block !important;
}

p.seemoredetails {
position: relative;
top: 0px;
border-top: 1px dotted #12cc94;
}

span.dataval {

text-align: right !important;

float: right !important;

}

.mainrow .pricing-tables-widget-section ul li {
border-top: 1px dotted #12cc94;
}
.dataval i.icomoon-checkmark-circle.false {
color: #fc3a52 !important;
font-size: 18px;
}
.dataval i.icomoon-checkmark-circle.true {
color: #12cc94 !important;
font-size: 18px;
}
.icomoon-checkmark-circle.false:before {
	content: "\ed66" !important;
}
.icomoon-checkmark-circle.true:before {
	content: "\ee76" !important;
}
p#companylogoinner {
display: flex;
}

#companylogoinner span.watania {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/Watania-logo-tab.png);
width: 210px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}
#companylogoinner span.insurance.house {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/insurance-house-logo-tab.png);
width: 210px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}

#companylogoinner span.qatar.general.insurance {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/qatar-general-insurance-logo-tab.png);
width: 210px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}
#companylogoinner span.adamjee.insurance {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/Adamjee-insurance-logo-tab.png);
width: 210px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}

#companylogoinner span.the.oriental.insurance {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/the-oriental-insurance-logo-tab.png);
width: 210px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}

#companylogoinner span.tokio.marine {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/Tokio-Marine-logo-tab.png);
width: 210px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}

#companylogoinner span.buhaira.national {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/al-buhaira-logo-tab.png);
width: 210px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}
#companylogoinner span.topup.exclusive {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/topup-exclusive-logo-tab.png);
width: 210px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}
#companylogoinner span.union.insurance {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/union-logo-tab.png);
width: 210px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}
#companylogoinner span.india.assurance {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/new-india-assurance-logo-tab.png);
width: 210px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}
span.dubai.national.insurance {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/dubai-national-insurance-logo-tab.png);
width: 210px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}
#companylogoinner span.united.insurance {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/united-insurance-logo-tab.png);
width: 210px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}

/* Inner table switches */
.smart-forms.accoverswitch {
display: inline-block;
padding: 0px !important;
margin: 0px !important;
line-height: unset;
width: 60px;
float: right;
}

.smart-forms.accoverswitch .form-body {
padding: 0px;
}

.datavalswitch{
display: inline-block !important;
margin-left: 10px;
margin-right: 0px;
color: #48bd91 !important;
}

span.switchlabel {
font-size: 12px;
width: 165px !important;
}

.arrow1 {
font-size: 13px !important;
position: absolute !important;
top: 14px !important;
right: 4px !important;
width: 20px !important;
height: 20px !important;
pointer-events: none !important;
z-index: 20 !important;
color: #12cc94 !important;
text-align: center !important;
}
.wizard > .actions a{
width: 250px !important;
}
